body{
    margin: 0;
    padding:0;
}

#container{
    margin:0 10rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    font-size: 2rem;
    margin:1rem;
}
button{
    font-size: 2rem;
}
